.room-item {
  padding: 24px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  min-height: 160px;
  justify-content: space-between;
}

.room-total {
  font-size: 12px;
  font-style: italic;
}

.game-player {
  margin: 12px 0;
  position: relative;
}

.game-player-name {
  font-size: 14px;
  margin: 6px 0;
}

.game-player-name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #b41c27;
  background-color: #ed4f65;
  border-radius: 100%;
  top: 6px;
  left: 22px;
}

.active-char {
  position: relative;
}

.active-char:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: greenyellow;
  position: absolute;
  bottom: 0;
  left: 0;
}

.typed-chars {
  background-color: #64b982;
}

.active.game-player-name::before {
  border: 1px solid greenyellow;
  background-color: greenyellow;
}

.game-player-progress-bar-container {
  height: 20px;
  width: 100%;
  border: 1px solid;
  border-radius: 1px;
}

.game-player-progress-bar {
  height: 100%;
  transition: 0.2s;
  background-color: #64b982;
}

.game-player-progress-bar-done {
  background-color: #a3d201;
  width: 100%;
}

.you::after {
  content: "(you)";
  position: absolute;
  right: 0;
  font-style: italic;
}

.game-table {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-btn {
  height: 20%;
  width: 50%;
  border: 1px solid;
  border-radius: 1px;
  box-shadow: 2px 1px 2px;
  background-color: #ccc;
}

.game-timer {
  position: absolute;
  right: 30px;
  top: 12px;
  font-size: 12px;
  font-style: italic;
}
